[submodule "extern/MikkTSpace"]
	path = extern/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace
[submodule "extern/pixenals-types"]
	path = extern/pixenals-types
	url = https://github.com/Pixenal/pixenals-types.git
[submodule "extern/pixenals-error-utils"]
	path = extern/pixenals-error-utils
	url = https://github.com/Pixenal/pixenals-error-utils.git
[submodule "extern/pixenals-io-utils"]
	path = extern/pixenals-io-utils
	url = https://github.com/Pixenal/pixenals-io-utils.git
[submodule "extern/pixenals-alloc-utils"]
	path = extern/pixenals-alloc-utils
	url = https://github.com/Pixenal/pixenals-alloc-utils.git
[submodule "extern/pixenals-math-utils"]
	path = extern/pixenals-math-utils
	url = https://github.com/Pixenal/pixenals-math-utils.git
[submodule "extern/pixenals-thread-utils"]
	path = extern/pixenals-thread-utils
	url = https://github.com/Pixenal/pixenals-thread-utils.git
[submodule "extern/poly-cutout"]
	path = extern/poly-cutout
	url = https://github.com/Pixenal/poly-cutout.git
